/**
* CONTENTS
*
* SETTINGS
* Global...............Globally-available variables and config.
*
* BASE
* Headings.............H1–H6 styles.
* Paragraphs...........Paragraph styles.
*
* Universal
* Container Primitives...Wrapping and constraining elements.
* Font Primitives.......Generic font styles.
*
* COMPONENTS
* Page-head............The main page header.
* Page-foot............The main page footer.
* Buttons..............Button elements.
*
* Media queries
* Medium...............Media queries for medium screens
*
*/

/*------------------------------------*\
 Settings
\*------------------------------------*/

:root {
  --primary-light: #dad7cdff;
  --secondary-light: #a3b18aff;
  --neutral: #588157ff;
  --primary-dark: #3a5a40ff;
  --secondary-dark: #344e41ff;
  --header-font: 'Permanent Marker', cursive;
  --paragraph-font: 'Overpass', sans-serif;
}

/*------------------------------------*\
 Base
\*------------------------------------*/
main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

body {
  margin: -1rem 0;
  background-color: var(--primary-light);
  font-family: var(--paragraph-font);
}

h1 {
  font-family: var(--header-font);
}

p {
  margin: 0.5rem 0;
}
/*------------------------------------*\
 Universal
\*------------------------------------*/

.button {
  padding: 0.4rem;
  box-shadow: 1px 1px 1px var(--secondary-dark);
  border-radius: 5%;
  cursor: pointer;
  font-family: var(--paragraph-font);
}

.punch {
  padding-right: 1rem;
}

.punch::before {
  content: '👊 ';
  opacity: 0;
}

.punch:hover::before {
  opacity: 1;
}

.button:hover {
  box-shadow: 2px 2px 2px var(--secondary-dark);
  color: var(--primary-light);
  transform: scale(1.1);
  background-color: rgb(194, 129, 9);
}

.card {
  background-color: var(--secondary-light);
  margin: 1rem;
  padding: 1rem;
  justify-self: flex-end;
  border-radius: 10px;
  justify-content: space-around;
}

.flex {
  display: flex;
}

.row { 
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.center {
  align-items: center;
  justify-content: center;
}
/*------------------------------------*\
 Components
\*------------------------------------*/

.header {
  background-color: var(--neutral);
  padding: 0.2rem 0 0.5rem 0;
}

.header__div {
  background-color: var(--primary-light);
  color: var(--primary-dark);
  width: fit-content;
  margin: 2rem auto;
  text-align: center;
  padding: 0 1rem;
  border-radius: 40%;
  box-shadow: 4px 5px 2px 1px var(--secondary-dark);
}

.header__form {
  color: var(--primary-light);
  font-size: 1.5rem;
}

.header__form__input {
  margin: 0.2rem 0 1rem 0;
  box-shadow: 3px 4px 2px 1px var(--secondary-dark);
}

.joke_input {
  resize: none;
  height: 5rem;
}

.card__list {
  list-style: none;
  margin: auto;
  padding: 0;
  font-size: 1.5rem;
  word-break: break-all;
}

.card__list-container {
  padding-left: 0;
  width: 75%;
  margin: 0.5rem;
  gap: 0.4rem;
}

.card__nickname{
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-dark);
  display: flex;
  justify-content: right;
  margin: 1rem 4rem;
}



/*------------------------------------*\
 Media queries
\*------------------------------------*/

/* laptop version */
@media only screen and (min-width: 800px) {
  .card {
    min-width: 60%;
  }
}
